@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  background-color: #f4f1f1;
  min-height: 10vh;
}

body::-webkit-scrollbar {
  width: 0.5vw;               
}

body::-webkit-scrollbar-track {
  background: #d3d3d3;       
}

body::-webkit-scrollbar-thumb {
  background-color: #808080;    
  border-radius: 20px;      
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 6vw;
  background-color: #AFCDEA;
  top: 0;
  position:absolute;
}

.cabecalho-logo {
  height: 12vw;
}

.cabecalho-menu-icone {
  height: 2.2vw;
}

#divBusca{
  background-color:#f4f1f1;
  border-radius: 2vw;
  width: 20vw;
}

#txtBusca{
  background-color: transparent;
  padding-left: 1vw;
  font-family: 'Nunito', sans-serif;
  font-size: 1vw;
  border: none;
  height: 2.5vw;
  width: 20vw;
}

.dropbtn {
  background-color: #AFCDEA;
  height: 6vw;
  padding: 16px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4vw;
  color: #f4f1f1;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #AFCDEA;
  width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2vw;
  color: #f4f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #a2cffc}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #a2cffc;
}
  
  .conteudo-primario-imagem {
    padding-left: 250px;
  }

body {
    background-color: #F4F1F1;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    padding: 106px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #f4f1f1;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.card-header {
    height: 200px;
    overflow: hidden;
}

.card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
}

.card-body {
    height: 170px;
    padding: 15px;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}

.card-local {
    font-size: 25px;
    margin: 1px 0;
}

.card-titulo {
    font-size: 16px;
    margin: 15px 0;
}

.card-texto {
    font-size: 16px;
    width: 250px;
    margin: 0 auto;
}

.card-preço {
    font-size: 1.5vw;
    width: 250px;
    margin: 15px 0 auto;
}

.card:hover {
    transform: scale3d(1.1, 1.1,1);
}

.cor {
    background-color: #AFCDEA;
    color: #F4F1F1;
}

.alinha {
    text-align: center;
}

.cor2 {
    background-color: #FEC517;
    color: #318CE7;
}

.last {
    padding-top: 10px;
    padding-bottom: 10px;
}
.titulo {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #F4F1F1;
}

.texto {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #F4F1F1;
}

.container-fluid {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #F4F1F1;
    padding: 10px;
}

.logos {
    margin: 5px 0;
}